<nav class="max-w-5xl mx-auto relative">
    <ul class="bg-gray-100 py-3 px-3">
        <li class="block mt-4 lg:inline-block text-gray-600 hover:text-gray-800 lg:mt-0 mr-12">
            <a href="/devices">All devices</a>
        </li>
        {{ taxonomy:categories }}
        <li class="block mt-4 lg:inline-block text-gray-600 hover:text-gray-800 lg:mt-0 mr-12">
            <a href="{{ url }}">
                {{ title }}
            </a>
        </li>
        {{ /taxonomy:categories }}
    </ul>
</nav>
<div class="max-w-5xl mx-auto relative mt-16">
    <article class="py-5">
        <header class="content mb-16">
            <h1>{{ title }}</h1>
            {{ content | widont }}
        </header>

        {{ taxkeys = [] }}
        <form class="flex gap-4 mb-16">
            <div>
                <input type="submit" value="Filter"
                    class="bg-teal hover:bg-teal-light text-white font-bold py-2 px-4 rounded" />
            </div>
            {{ partial:taxbox taxslug="brands" taxtitle="Brands" }}
            {{ partial:taxbox taxslug="datalinks" taxtitle="Datalinks" }}
            {{ partial:taxbox taxslug="platforms" taxtitle="Platforms" }}
            {{ partial:taxbox taxslug="classifications" taxtitle="Classifications" }}
            {{ partial:taxbox taxslug="power" taxtitle="Power" }}
        </form>

        {{ collection:devices as="devices" paginate="10"
           taxonomy:categories="{is_term ? slug : void}"
           taxonomy:platforms="{taxkeys["platforms"]}"
           taxonomy:brands="{taxkeys["brands"]}"
           taxonomy:datalinks="{taxkeys["datalinks"]}"
           taxonomy:power="{taxkeys["power"]}"
           taxonomy:classifications="{taxkeys["classifications"]}" }}
        {{ if no_results }}
        <h2 class="text-2xl italic tracking-tight">No devices match your query.</h2>
        {{ /if }}

        <table class="w-full text-left">
            <thead>
                <tr class="border-b"><th>Image</th><th>Device</th><th>Brand</th><th>Datalink</th><th>Platform</th><th>Classification</th><th>Power</th></tr>
            </thead>
            <tbody>
                {{ devices }}
                <tr class="border-b">
                    <td>
                        <a href="{{ url }}">
                        {{ device_image }}
                        <img src="{{ glide preset="thumbnail" :src="url" }}" alt="{{alt}}">
                        {{ /device_image }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url }}" class="hover:text-teal">
                            {{ title | widont }}
                        </a>
                    </td>
                    <td>
                        {{ brands }}
                            <a href="{{url}}" class="hover:text-teal">
                                {{title}}
                            </a>
                        {{ /brands }}
                    </td>
                    <td>
                        {{ datalinks }}
                            <a href="{{url}}" class="hover:text-teal">
                                {{title}}
                            </a>
                        {{ /datalinks }}
                    </td>
                    <td>
                        {{ platforms }}
                            <a href="{{url}}" class="hover:text-teal">
                                {{title}}
                            </a>
                        {{ /platforms }}
                    </td>
                    <td>
                        {{ classifications }}
                            <a href="{{url}}" class="hover:text-teal">
                                {{title}}
                            </a>
                        {{ /classifications }}
                    </td>
                    <td>
                        {{ power }}
                            <a href="{{url}}" class="hover:text-teal">
                                {{title}}
                            </a>
                        {{ /power }}
                    </td>
                </tr>
                {{ /devices }}
            </tbody>
        </table>

        {{ paginate }}
        {{ if prev_page || next_page }}
        <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
            <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                &larr; Previous
            </a>
            <a href="{{ next_page }}">
                Next &rarr;
            </a>
        </div>
        {{ /if }}
        {{ /paginate }}
        {{ /collection:devices }}
    </article>
</div>

