<nav class="max-w-5xl mx-auto relative">
    <ul class="bg-gray-100 py-3 px-3">
        <li class="block mt-4 lg:inline-block text-gray-600 hover:text-gray-800 lg:mt-0 mr-12">
            <a href="/devices">All devices</a>
        </li>
        {{ taxonomy:categories }}
        <li class="block mt-4 lg:inline-block text-gray-600 hover:text-gray-800 lg:mt-0 mr-12">
            <a href="{{ url }}">
                {{ title }}
            </a>
        </li>
        {{ /taxonomy:categories }}
    </ul>
</nav>
<div class="max-w-5xl mx-auto relative mt-16">
    {{ platforms = [] }}
    {{ classifications = [] }}
    <aside>
        <form class="flex gap-4">
            <div>
                <input type="submit" value="Filter"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" />
            </div>
            <fieldset>
                <legend class="font-bold">Platform</legend>
                {{ taxonomy:platforms }}
                {{ key = "{taxonomy}_{slug}"}}
                {{? if(array_key_exists(strval($key), $_GET)) { $platforms[] = strval($slug); } ?}}
                <label class="block">
                    <input type="checkbox" name="{{ key }}" {{ if get[key] }}checked{{ /if }}>
                    {{ title }}
                </label>
                {{ /taxonomy:platforms }}
            </fieldset>
            <fieldset>
                <legend class="font-bold">Classification</legend>
                {{ taxonomy:classifications }}
                {{ key = "{taxonomy}_{slug}"}}
                {{? if(array_key_exists(strval($key), $_GET)) { $classifications[] = strval($slug); } ?}}
                <label class="block">
                    <input type="checkbox" name="{{ key }}" {{ if get[key] }}checked{{ /if }}>
                    {{ title }}
                </label>
                {{ /taxonomy:classifications }}
            </fieldset>
        </form>
    </aside>
    </aside>

    <article class="py-5">
        <header class="content mb-16">
            <h1>{{ title }}</h1>
            {{ content | widont }}
        </header>

        {{ collection:devices as="devices" paginate="10"
           taxonomy:categories="{is_term ? slug : void}"
           taxonomy:platforms="{platforms}"
           taxonomy:classifications="{classifications}" }}
        {{ if no_results }}
        <h2 class="text-2xl italic tracking-tight">No devices match your query.</h2>
        {{ /if }}

        {{ devices }}
        <div class="mb-2">
            <a href="{{ url }}" class="text-lg hover:text-teal tracking-tight leading-tight font-bold">
                {{ title | widont }}
            </a>
        </div>
        {{ /devices }}

        {{ paginate }}
        {{ if prev_page || next_page }}
        <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
            <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                &larr; Previous
            </a>
            <a href="{{ next_page }}">
                Next &rarr;
            </a>
        </div>
        {{ /if }}
        {{ /paginate }}
        {{ /collection:devices }}
    </article>
</div>

